<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/public/styles.css" type="text/css">

    <title>NYT News Scraper!</title>
    </head>

   
            {{{body}}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/public/app.js"></script>

</html>