
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    


    <title>NYT News Scraper!</title>
    </head>
    <body>

   
            {{{body}}}
            
            <footer>© Copyright 2018</footer>
    </body>


</html>