
  <div class= "jumbotron">
            <button type="button" class="btn btn-info">Saved Articles</button>
            <button type="button" class="btn btn-info">Scrape New Articles</button>
            <button type="button" class="btn btn-info">Home</button>
    
     {{#each Articles}}
      <div id="articles"></div>
      <div id="notes"></div>
    {{/each}}
      </div>
      hello
